.cv-container {
    width: 210mm;
    min-height: 297mm;
    padding: 20mm;
    font-family: Arial, sans-serif;
    background-color: white;
    color: black;
    margin: auto;
    border: 1px solid #ddd;
  }
  
  .cv-header {
    text-align: center;
    border-bottom: 2px solid #ddd;
    padding-bottom: 10px;
  }
  
  .cv-header h1 {
    margin: 0;
    font-size: 32px;
  }
  
  .cv-header p {
    margin: 0;
    font-size: 18px;
    color: gray;
  }
  
  .cv-section {
    margin-top: 20px;
  }
  
  .cv-section h2 {
    margin-bottom: 10px;
    font-size: 20px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
  }
  
  .cv-item {
    margin-bottom: 15px;
  }
  
  .cv-item h3 {
    margin: 0;
    font-size: 18px;
    color: black !important; /* Menambahkan !important */
  }
  
  
  .skills-list {
    list-style: none;
    padding: 0;
  }
  
  .skills-list li {
    background-color: #ffffff;
    padding: 5px;
    margin-bottom: 5px;
    display: inline-block;
    border-radius: 4px;
    border: none; /* Menambahkan properti border dengan nilai none */
  }
  
  .download-btn {
    display: block;
    margin: 20px auto; /* Memastikan tombol berada di tengah dengan margin auto */
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
  }
  
  .download-btn:hover {
    background-color: #0056b3;
  }
  
  